* {
    font-family: 'PT Mono', monospace;
    font-size: 30px;
    color: black;
}

h1 {
    font-size: clamp(0.8rem, 3vw, 1rem);
    text-shadow: red -2px 0, cyan 2px 0;
}

h2 {
    font-size: clamp(0.6rem, 3vw, 0.7rem);
}

h3 {
    font-size: clamp(0.4rem, 3vw, 0.5rem);
}

p {
    font-size: clamp(0.4rem, 3vw, 0.5rem);
}

